<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IsEncrypt" value="false"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="FYJ.Data.Min" connectionString="server=.;database=db_server;uid=sa;pwd=xxxxxxx" providerName="System.Data.SqlClient"/>-->
    <add name="FYJ.Data.Min" connectionString="Server=127.0.0.1;Uid=root;Pwd=root;Database=db_fyj;Port=3306;CharSet=utf8;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>